#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
#form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
#btn_adicionar {
  margin: 10px;
}
input {
  margin: 5px;
}
label {
  margin: 5px;
  color: #ffffff;
}
body {
  background-color: rgb(78, 77, 77);
}
p {
  text-align: center;
}
