#container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
#form1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
#form2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
#title {
  text-align: center;
  color: #ffffff;
}
#btn_adicionar {
  margin: 10px;
}
#btn_registrar {
  margin: 10px;
}
input {
  margin: 5px;
}
label {
  margin: 5px;
  color: #ffffff;
}
body {
  background-color: rgb(78, 77, 77);
}
p {
  text-align: center;
  color: #ffffff;
}
button {
  cursor: pointer;
}

#resps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
