#poco{
  width: 100px;
  height:400px;
  background:#eee;
  position:relative;
  border:2px solid #333;
}

#cabine{
  width:100%;
  height:80px;
  background:gold ;
  position: absolute;
  bottom:0;
  transition: transform 1s ease-in-out;
}