 #inputs{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10px;
        }
        #exibicao{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            margin: 30px;
            padding: 30px;
        }
        #buttons{
            display: flex;
            justify-content:center;
            flex-direction: row;
            align-items: center;
        }
        #btn_filtrar{
            margin: 5px;
        }
        #btn_adicionar{
            margin: 5px;
        }